[Unit]
Description=Network Latency Collector
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=ac
WorkingDirectory=/home/ac/latency-monitor

ExecStart=/home/ac/latency-monitor/collector.sh

Restart=on-failure
RestartSec=5


#LOG_FILE="$LOG_DIR/$(date +%F).csv"
#this does not work
#StandardOutput=append:/home/ac/latency-monitor/collector_$(date +%F).log
#This one works
#StandardError=append:/home/ac/latency-monitor/collector.log

StandardOutput=null
StandardError=append:/home/ac/latency-monitor/collector.log



[Install]
WantedBy=multi-user.target
